*{
  padding: 0;
  margin: 0;
  box-sizing: border-box; 
}
body{
  background-color: white;
  background-image: linear-gradient(315deg,#b8c6db 0%,#f5f7f7 );
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

#scorePosition{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  justify-content: center;
  align-items: center;
  display: flex;
  display: grid;
}

#counDowm{
  justify-content: center;
  align-items: center;
  display: flex;
  display: grid;
}


.scorePosition{
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  display: grid;
  color: white;
  border: 2px solid white;
}
.countHolder{
  justify-content: space-evenly;
  align-items: center;
  display: flex;  

}
.scorePoints{
  border: 5px;
  background-color: white;
  height: 10vh;
  width: 20vw;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 60px;
  font-weight: bold;
}
  
.form-container{
background-color: white;
border-radius: 10px;
box-shadow: 0 0 10px 2px black;
}

.form-container h2{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 3.3rem;

}

form label{
  color: black;
  font-size: 2.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
} 

select{
  width: 100%;
  padding: 15px 0;
  margin: 5px 0px;
  border: none;
  /* border-radius: 5px; */
  border-bottom:2px solid white;
  color: #fff;
  font-weight: 600;
  font-size: 2rem;
  background: rgb(0, 0, 0);
  
}

select:focus{
    outline: none;
}

.form-container button{
 background: rgb(102, 14, 102);
 border: none;
 display: block;
 width: 100%;
 cursor: pointer;
 font-size: 2.5rem;
 font-family: 'Times New Roman', Times, serif;
 padding: 2rem;
}
.form-container button:hover{
background-color: rgb(141, 85, 141);
}
.form-container button:focus{
  outline: none;
  background-color: rgb(63, 18, 97);
}


/* ----------------------------------------------------------- */
@media (max-width:1024px){
  .form-container{
    width: 80%;
  }
}

@media (max-width:650px){
  .form-container{
    width: 80%;
  }

  
.form-container{
  width: 98%;
  height: auto;
  margin: 0;
  border: 1px solid #fff;
  border-radius: 20px ;
  padding:0 ;
  padding-bottom: 20px;
  background: rgb(102, 14, 102);
  color: black;
}
.form-con{
  padding: 4rem;
}
}

.dp-none{
  display: none;
}

.form-test{
  display: flex;
  flex-direction: column;
}

.form-test .question-form h2{
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 15px;
  color: black;
}

.form-test .answer-form{
  display: flex;
  flex-direction: column;
  
}

.form-test .answer-form label{
  padding: 15px;
  margin-bottom: 15px;
  cursor: pointer;
  border-radius: 15px;
  font-family: 'Montserrat', sans-serif;
}

.form-test .answer-form label:hover{
  background-color: rgb(202, 162, 202);
}

.form-test .answer-form input{
  margin-right: 10px;
}

.form-test .answer-form button{
  margin: 10px 0;
  border-radius: 5px;
}

.finish{
  width: 100%;
  font-family: 'Original Surfer', cursive;
  color: #fff;
}

.mb{
  margin-bottom: 40px;
}

.finish a{
  text-decoration: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.055);
  color: white;
  font-size: 2rem;
  font-family: 'Original Surfer', cursive;
  font-weight: 800;
}